@media screen and (max-width:576px) {

    *{
        box-sizing: border-box;
    }
    .nav-container{
        margin-top: 170px;
        /* margin-bottom: 62px; */
        flex-direction: column;
        box-shadow: none;
    }

    /* .gaming-title{
        margin-top: 103px;
    } */

    .nav-menus{
        margin-top: 62px;
        flex-direction: column;
    }

    .nav-menus .nav-btn{
        margin-top: 62px;
        margin-bottom: 62px;
    }

    .banner-1{
        margin-top: 300px;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px;
        /* margin: 0 auto; */
        
    }

    .banner-text{
       width: 100%;
       height: auto;
       margin-bottom: 20px;
    }

    .banner-image-img{
        /* margin-top: -40px; */
        margin-bottom: 40px;
        width: 300px;
        height: 300px;
    }

}


    
    



  