@media screen and (max-width:576px) {

    *{
        box-sizing: border-box;
    }
    .nav-container{
        margin-top: 170px;
        /* margin-bottom: 62px; */
        flex-direction: column;
        box-shadow: none;
    }

    /* .gaming-title{
        margin-top: 103px;
    } */

    .nav-menus{
        margin-top: 62px;
        flex-direction: column;
    }

    .nav-menus .nav-btn{
        margin-top: 62px;
        margin-bottom: 62px;
    }

    .banner-1{
        margin-top: 300px;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px;
        /* margin: 0 auto; */
        
    }

    .banner-text{
       width: 100%;
       height: auto;
       margin-bottom: 20px;
    }

    .banner-image-img{
        /* margin-top: -40px; */
        margin-bottom: 40px;
        width: 300px;
        height: 300px;
    }

    .banner-2{
        margin: auto;
        margin-top: 222px;
        padding: 40px;
        flex-direction: column;
        background: none;
    }

    .banner-2-image-img{
        width: 300px;
        height: 270px;
        margin-bottom: 20px;
    }

    .banner-2-text{
        text-align: center;
        margin-top: 20px;
    }

    .banner-2-p1{
        font-size: 12px;
        /* font-weight: 400; */
        /* line-height: 30px; */
        /* padding-top: 24px; */
    }

    .banner-2-p3{
        font-size: 25px;
        /* font-weight: 700; */
        /* line-height: 45px; */
    }

    .funny-item-container{
        height: auto;
        padding: 40px;
    }

    .funny-games-text{
        margin-top: 40px;
    }

    .funny-games-heading{
        margin-top: 143px;
        font-size: 30px;
    }

    .funny-games-para{
        font-size: 12px;
        /* line-height: 20px; */
    }

    .funny-games-items{
        flex-direction: column;
        gap: 50px;
    }
    
    .play-container{
        flex-direction: column;
        height: auto;
        padding-bottom: 100px;
    }

    .play-container-text{
        width: 80%;
        text-align: center;
        margin-bottom: 30px;
    }

    .play-container-image,.play-image-1{
        width: 100%;
        height: auto;
        margin: 0;
    }

    .play-image-2{
        width: 80%;
        height: auto;
        margin: 0 auto;
        top: 0;
        left: 0;
    }

    .play-container-h3{
        font-size: 36px;
        line-height: 48px;
    }

    .play-container-p{
        font-size: 16px;
        line-height: 24px;
        padding-top: 12px;
    }

    /* .play-container-span{
       margin-top: ;
    } */

    .games-btn{
        height: auto;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .games-btn button{
        width: 100%;
        height: 60px;
    }

    .footer-section{
        height: auto;
        padding-bottom: 60px;
    }

    .footer-section .gaming-title{
        margin-top: 60px;
    }

    .footer-section .footer-options{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-top: 30px;
    }

    .footer-section .footer-btn{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
        gap: 20px;
    }

    .footer-section .footer-privacy{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
        gap: 30px;
    }

    .footer-section p{
        margin-top: 20px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {

    *{
        box-sizing: border-box;
    }
    .nav-container{
        margin-top: 170px;
        /* margin-bottom: 62px; */
        flex-direction: column;
        box-shadow: none;
    }

    /* .gaming-title{
        margin-top: 103px;
    } */

    .nav-menus{
        margin-top: 62px;
        flex-direction: column;
    }

    .nav-menus .nav-btn{
        margin-top: 62px;
        margin-bottom: 62px;
    }

    .banner-1{
        margin-top: 300px;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px;
        /* margin: 0 auto; */
        
    }

    .banner-text{
       width: 100%;
       height: auto;
       margin-bottom: 20px;
    }

    .banner-image-img{
        /* margin-top: -40px; */
        margin-bottom: 40px;
        width: 300px;
        height: 300px;
    }

    .banner-2{
        margin: auto;
        margin-top: 222px;
        padding: 40px;
        flex-direction: column;
        background: none;
    }

    .banner-2-image-img{
        width: 300px;
        height: 270px;
        margin-bottom: 20px;
    }

    .banner-2-text{
        text-align: center;
        margin-top: 20px;
    }

    .banner-2-p1{
        font-size: 12px;
        /* font-weight: 400; */
        /* line-height: 30px; */
        /* padding-top: 24px; */
    }

    .banner-2-p3{
        font-size: 25px;
        /* font-weight: 700; */
        /* line-height: 45px; */
    }

    .funny-item-container{
        height: auto;
        padding: 40px;
    }

    .funny-games-text{
        margin-top: 40px;
    }

    .funny-games-heading{
        margin-top: 143px;
        font-size: 30px;
    }

    .funny-games-para{
        font-size: 12px;
        /* line-height: 20px; */
    }

    .funny-games-items{
        flex-direction: column;
        gap: 50px;
    }
    
    .play-container{
        flex-direction: column;
        height: auto;
        padding-bottom: 100px;
    }

    .play-container-text{
        width: 80%;
        text-align: center;
        margin-bottom: 30px;
    }

    .play-container-image,.play-image-1{
        width: 100%;
        height: auto;
        margin: 0;
    }

    .play-image-2{
        width: 80%;
        height: auto;
        margin: 0 auto;
        top: 0;
        left: 0;
    }

    .play-container-h3{
        font-size: 36px;
        line-height: 48px;
    }

    .play-container-p{
        font-size: 16px;
        line-height: 24px;
        padding-top: 12px;
    }

    /* .play-container-span{
        
    } */

    .games-btn{
        height: auto;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .games-btn button{
        width: 100%;
        height: 60px;
    }

    .footer-section{
        height: auto;
        padding-bottom: 60px;
    }

    .footer-section .gaming-title{
        margin-top: 60px;
    }

    .footer-section .footer-options{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-top: 30px;
    }

    .footer-section .footer-btn{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
        gap: 20px;
    }

    .footer-section .footer-privacy{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
        gap: 30px;
    }

    .footer-section p{
        margin-top: 20px;
    }
}






    
    



  